/* ==========================================================================
   GENERIC
   ========================================================================== */


/* stylelint-disable scss/partial-no-import */

@import "generic.box-sizing";
@import "generic.normalize";
@import "generic.reset";
@import "generic.shared";
@import "generic.focus";
@import "generic.custom-properties";

/* stylelint-enable scss/partial-no-import */

@if (sockman-config(env) != editor) {
  @include sockman-generic-box-sizing;
  @include sockman-generic-normalize;
  @include sockman-generic-reset;
  @include sockman-generic-shared;
  @include sockman-generic-focus;
  @include sockman-generic-custom-properties;
}
@else {

  .editor-styles-wrapper {
    @include sockman-generic-shared;
    @include sockman-generic-focus;
  }

  @include sockman-generic-custom-properties;
}
