/* ==========================================================================
   #LAYOUT
   ========================================================================== */

@mixin sockman-layout-properties($layout_name) {
  $layout: map-get($sockman-layouts, $layout_name);
  --gutter: #{sockman-layout-gutter($layout)};
  --margin: #{sockman-layout-margin($layout)};
  --layout-max-width: #{sockman-layout-max-width($layout)};
}



/**
 * Output our CSS custom properties. Mixin to be used inside of :root {} or html {}.
 */

@mixin sockman-layout-vars {

  /**
  * Use the maximum breakpoint as default,
  * to enable old IE to use the largest values for gutters and margins.
  */
  $upper_layout_name: nth(map-keys($sockman-layouts), length($sockman-layouts));

  @include sockman-layout-properties($upper_layout_name);


  // include our different spacings (custom properties) at each breakpoint.
  @each $layout_name, $layout in $sockman-layouts {

    $bp_name: map-get($layout, breakpoint);

    @include mq( $from: $bp_name ) {
      @include sockman-layout-properties($layout_name);
    }

  }
}
