/* ==========================================================================
   #SPACINGS
   ========================================================================== */


@mixin sockman-spacing-properties($bp_name) {
  --spacing-unit: #{map-get($sockman-spacings, $bp_name)};
}


@mixin sockman-spacing-vars {

  /**
  * Use the maximum breakpoint as default,
  * to enable old IE to use the largest values for gutters and margins.
  */
  $upper_breakpoint: nth(map-keys($sockman-spacings), length($sockman-spacings));

  @include sockman-spacing-properties($upper_breakpoint);

  // include our different spacings (custom properties) at each breakpoint.
  @each $bp_name in map-keys($sockman-spacings) {

    @include mq($from: $bp_name) {
      @include sockman-spacing-properties($bp_name);
    }

  }
}
