/* ==========================================================================
   #LINKS
   ========================================================================== */

@mixin sockman-link-elements {

  a {
    color: $color-link;
  }
}
