/* ==========================================================================
   #HORIZONTAL-RULE
   ========================================================================== */

@mixin sockman-hr-elements {

  hr {
    border-bottom-color: color("grey");
    border-style: solid;
    border-width: 0 0 1px;
  }
}
