/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

@mixin sockman-paragraph-elements {

  p {
    @include sockman-type-style("b2");
    margin-top: 0;
    margin-bottom: sp();
  }
}
