/* ==========================================================================
   #TABLES
   ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 */

@mixin sockman-table-elements {

  table {
    width: 100%; /* [1] */
  }
}
