/* ==========================================================================
   EDITOR-BASE
   ========================================================================== */


.editor-styles-wrapper.editor-styles-wrapper {

  @include sockman-heading-elements;

  .wp-block-heading,
  .wp-block-paragraph,
  .wp-block {
    @include sockman-font("museo");
  }

  .wp-block-sockman-subtitle {
    @include sockman-type-style("subtitle");
  }

  p {
    margin: 0;
    @include sockman-type-style("b1");
  }

  strong,
  b {
    @include sockman-font-weight(bold);
  }
}


.editor-post-title__block .editor-post-title__input {
  @include sockman-type-style("h1");
  @include sockman-font("quiroh");
}

.wp-block {
  max-width: sockman-content-max-width-with-margins(c12, 8) !important;
}
