///* ========================================================================
//   #SPACINGS
//   ======================================================================== */


$sockman-spacing-directions: (
  null:          null,
  "-top":        "-top",
  "-right":      "-right",
  "-bottom":     "-bottom",
  "-left":       "-left",
  "-vertical":   "-top" "-bottom",
  "-horizontal": "-left" "-right",
);

$sockman-spacing-properties: (
  "padding":     "padding",
  "margin":      "margin",
);

$sockman-spacings: (
  null: 16px,
  w600: 24px,
);

/**
 * For sp() function. tools.spacings.scss
 */
$sockman-spacing-units: (
  none:      0,
  micro:     .125,
  tiny:      .25,
  small:     .5,
  null:      1,
  large:     2,
  xlarge:    3,
  huge:      4,
  xhuge:     8,
);

@function sockman-spacing-unit($size: null) {
  @return map-get($sockman-spacing-units, $size);
}


/**
 * For utilitie classes. utilities.spacings.scss
 */
$sockman-spacing-sizes: (
  "-none":   sockman-spacing-unit(none),
  "-micro":  sockman-spacing-unit(micro),
  "-tiny":   sockman-spacing-unit(tiny),
  "-small":  sockman-spacing-unit(small),
  null:      sockman-spacing-unit(),
  "-large":  sockman-spacing-unit(large),
  "-xlarge": sockman-spacing-unit(xlarge),
  "-huge":   sockman-spacing-unit(huge),
  "-xhuge":  sockman-spacing-unit(xhuge),
);
