///* ========================================================================
//   #LAYOUT
//   ======================================================================== */

$sockman-breakpoint-separator: \@;

$sockman-layouts: (
  null: (
    breakpoint: null,
    columns: 4,
    margin: 16px,
    gutter: 16px,
    max_col_width: 76px
  ),
  c8: (
    breakpoint: w600,
    columns: 8,
    margin: 24px,
    gutter: 24px,
    max_col_width: 76px
  ),
  c12: (
    breakpoint: w960,
    columns: 12,
    margin: 24px,
    gutter: 24px,
    max_col_width: 76px
  )
);

$sockman-layout-default-column-span: 4;


/**
 * Function to get a list of values of a type from config above. E.g. columns.
 */
@function sockman-layouts-get($key) {
  $vals: ();

  @each $layout in map-values($sockman-layouts) {
    $vals: append($vals, map-get($layout, $key));
  }

  @return $vals;
}

/**
 * Function to get a map of values of a type from config above, where the key is the breakpoint.
 */
@function sockman-layout-values($key) {
  $vals: ();

  @each $layout in map-values($sockman-layouts) {
    $breakpoint: map-get($layout, breakpoint);
    $value: map-get($layout, $key);
    $vals: map-merge($vals, ($breakpoint: $value));
  }

  @return $vals;
}

/**
 * Function to get a map of breakpoint names and sizes.
 * e.g (null: null, w600: 600px, w1080: 1080px)
 */
@function sockman-layout-breakpoints() {
  $breakpoints: ();

  @each $layout in map-values($sockman-layouts) {
    $breakpoint_name: map-get($layout, breakpoint);
    $value: null;

    @if $breakpoint_name != null {
      $value: mq-get-breakpoint-width($breakpoint_name);
    }

    $breakpoints: map-merge($breakpoints, ($breakpoint_name: $value));
  }

  @return $breakpoints;
}

/**
 * Function to get a map of breakpoint names and sizes.
 * e.g (null: null, w600: c8, w1080: c12)
 */
@function sockman-layout-breakpoint-names() {
  $breakpoint-names: ();

  @each $size_name in map-keys($sockman-layouts) {
    $layout: map-get($sockman-layouts, $size_name);
    $breakpoint_name: map-get($layout, breakpoint);

    $breakpoint-names: map-merge($breakpoint-names, ($breakpoint_name: $size_name));
  }

  @return $breakpoint-names;
}


$sockman-layout-columns:          sockman-layout-values(columns);
$sockman-layout-default-margin:   sockman-layout-values(margin);
$sockman-layout-default-gutter:   sockman-layout-values(gutter);
$sockman-layout-column-width:     sockman-layout-values(max_col_width);
$sockman-layout-breakpoints:      sockman-layout-breakpoints();
$sockman-layout-breakpoint-names: sockman-layout-breakpoint-names();
