///* ========================================================================
//   #LAYOUT
//   ======================================================================== */


@function sockman-layout-gutter($layout) {
  @return map-get($layout, gutter);
}

@function sockman-layout-margin($layout) {
  @return map-get($layout, margin);
}

@function sockman-layout-max-width($layout) {
  $cols: map-get($layout, columns);
  $col_width: map-get($layout, max_col_width);
  $gutter: sockman-layout-gutter($layout);
  $margin: sockman-layout-margin($layout);

  $max-width: ($cols * $col_width) + (($cols - 1) * $gutter) + $margin * 2;
  @return $max-width;
}

@function sockman-content-max-width($layout_name, $cols) {
  $layout: map-get($sockman-layouts, $layout_name);
  $col_width: map-get($layout, max_col_width);
  $gutter: sockman-layout-gutter($layout);
  $margin: sockman-layout-margin($layout);
  $max-width: ($cols * $col_width) + (($cols - 1) * $gutter);
  @return $max-width;
}

@function sockman-content-max-width-with-margins($layout_name, $cols) {
  $layout: map-get($sockman-layouts, $layout_name);
  $col_width: map-get($layout, max_col_width);
  $gutter: sockman-layout-gutter($layout);
  $margin: sockman-layout-margin($layout);

  $max-width: ($cols * $col_width) + (($cols - 1) * $gutter) + $margin * 2;
  @return $max-width;
}


/**
 * Layout breakpoint helpers
 */


// returns the lower grid boundary or null if the smallest grid is selected
@function sockman-layout-breakpoint-min($size) {
  @if not map-has-key($sockman-layout-columns, $size) {
    @error "Invalid style specified! Choose one of #{map-keys($sockman-layout-columns)}";
  }
  $min: map-get($sockman-layout-breakpoints, $size);

  @return if($min != 0, $min, null);
}

// returns the upper grid boundary or null if the largest grid is selected
@function sockman-layout-breakpoint-max($size) {
  @if not map-has-key($sockman-layout-columns, $size) {
    @error "Invalid style specified! Choose one of #{map-keys($sockman-layout-columns)}";
  }
  $names: map-keys($sockman-layout-columns);
  $n: index($names, $size);
  $next: if($n < length($names), nth($names, $n + 1), null);

  @return if($next, sockman-layout-breakpoint-min($next), null);
}

// Private mixins, meant for internal use.
@mixin sockman-layout-media-query_($size) {
  @if not map-has-key($sockman-layout-columns, $size) {
    @error "Invalid style specified! Choose one of #{map-keys($sockman-layout-columns)}";
  }

  $min: sockman-layout-breakpoint-min($size);
  $max: sockman-layout-breakpoint-max($size);

  @if $min == null and $max != null {
    // Phone
    @include mq($until: $max) {
      @content;
    }
  }
  @else if $min != null and $max != null {
    // Tablet
    @include mq($from: $min, $until: $max) {
      @content;
    }
  }
  @else if $min != null and $max == null {
    // Desktop
    @include mq($from: $min) {
      @content;
    }
  }
  @else {
    // Fallback - no breakpoints defined
    @content;
  }
}
