///* ========================================================================
//   #SPACINGS
//   ======================================================================== */

/**
 * Tools for responsive spacings
 */


/**
 * Get a responsive size.
 *
 * Size is e.g. 'tiny', 'small', 'large', 'xlarge'.
 */
@function sp($size: null) {

  @if $size {
    @return calc(var(--spacing-unit) * #{sockman-spacing-unit($size)});
  }

  @else {
    @return var(--spacing-unit);
  }

}
