/* ==========================================================================
   #COOKIE CONSENT BANNER
   ========================================================================== */


/**
 * Cookie consent.
 */

.c-cookie-consent {
  position: fixed;
  bottom: 16px;
  width: 100%;
  pointer-events: none;

  a {
    color: color("teal");
  }
}

.c-cookie-consent__layout {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(color("white"), .95);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border-radius: 6px;
  pointer-events: auto;

  @include mq($from: w600) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.c-cookie-consent__main {
  flex: 1;
  @include sockman-type-style("b3");
  padding-top: sp(small);
  padding-bottom: sp(small);
}


.c-cookie-consent__dismiss {
  align-self: flex-end;

  @include mq($from: w600) {
    align-self: center;
  }
}

.c-cookie-consent__link {
  @include sockman-button-reset;
  display: inline-block;
  color: $color-link !important;
  text-decoration: none;
  cursor: pointer;
  @include sockman-type-style("b3");
  padding: sp(small);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
