/* ==========================================================================
   #BUTTONS
   ========================================================================== */

// https://fvsch.com/styling-buttons/
@mixin sockman-button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}


.c-button {
  @include sockman-button-reset;
  display: inline-block;
  @include sockman-type-style("button");
  text-transform: uppercase;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 1.5);
}
