/* ==========================================================================
   #SPACINGS
   ========================================================================== */

/**
 * Output the spacing utilities.
 *
 * E.g. u-margin-bottom-large
 */

/**
  * loop over margin & padding
  */
@each $property-namespace, $property in $sockman-spacing-properties {

  /**
    * loop over directions
    */
  @each $direction-namespace, $direction-rules in $sockman-spacing-directions {

    /**
      * loop over sizes (tiny, small, large etc)
      */
    @each $size-namespace, $scale-factor in $sockman-spacing-sizes {

      /**
        * e.g. u-padding-left-large
        */

      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: calc(var(--spacing-unit) * #{$scale-factor}) !important;
        }

      }

    }

  }

}
