/* ==========================================================================
   #RESPONSIVE-SPACINGS
   ========================================================================== */

/**
 * Utility classes enhancing the normal spacing classes by adding responsiveness
 * to them. This brings classes such as:
 *
 *   .u-margin-bottom-none@w600 {}
 *   .u-margin-bottom-none@w960 {}
 *   .u-margin-bottom-none@1280 {}
 */



// When using Sass-MQ, this defines the separator for the breakpoints suffix
// in the class name. By default, we are generating the responsive suffixes
// for the classes with a `@` symbol so you get classes like:
//
//   <div class="u-margin-bottom@w600">
//
// Be aware that since the `@` symbol is a reserved symbol in CSS, it has to be
// escaped with a `\`. In the markup though, you write your classes without the
// backslash (e.g. `u-margin-bottom@w600`).


@mixin sockman-responsive-spacings($sockman-bp-name) {

  /**
   * loop over margin & padding
   */
  @each $property-namespace, $property in $sockman-responsive-spacing-properties {

    /**
     * loop over directions (left, right, vertical)
     */
    @each $direction-namespace, $direction-rules in $sockman-responsive-spacing-directions {

      /**
       * loop over sizes (tiny, small, large etc)
       */
      @each $size-namespace, $scale-factor in $sockman-responsive-spacing-sizes {

        .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace}#{$sockman-breakpoint-separator}#{$sockman-bp-name} {

          @each $direction in $direction-rules {
            #{$property}#{$direction}: calc(var(--spacing-unit) * #{$scale-factor}) !important;
          }

        }

      }

    }

  }
}

/* stylelint-disable max-nesting-depth */

@each $sockman-bp-name, $sockman-bp-value in $mq-breakpoints {

  @include mq($from: $sockman-bp-name) {

    @include sockman-responsive-spacings($sockman-bp-name);

  }


}

/* stylelint-enable max-nesting-depth */
