.wp-block-link-with-arrow {

  &::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 11px;
    background-size: 8px 11px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-uri('<svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.72 10.5816L7.8 5.71158C8.06 5.53158 8.06 5.14158 7.8 4.96158L0.72 0.081577C0.41 -0.128423 0 0.091577 0 0.461577V10.2016C0 10.5716 0.41 10.7916 0.72 10.5816Z" fill="#3D4144"/></svg>');
  }

}
