/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */


.o-wrapper {
  padding-left: var(--margin);
  padding-right: var(--margin);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-max-width);
}

.o-content-wrapper {
  padding-left: var(--margin);
  padding-right: var(--margin);
  margin-left: auto;
  margin-right: auto;
  max-width: sockman-content-max-width-with-margins(c12, 8) !important;
}

.o-content-wrapper-wide {
  padding-left: var(--margin);
  padding-right: var(--margin);
  margin-left: auto;
  margin-right: auto;
  max-width: sockman-content-max-width-with-margins(c12, 10) !important;
}

.o-wrapper-full {
  padding-left: var(--margin);
  padding-right: var(--margin);
}
