/* ==========================================================================
   #BOX
   ========================================================================== */

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-box` class to naturally-inline elements.
 */

.o-box {
  @include sockman-clearfix();
  display: block; /* [1] */
  padding: sp();

  > :last-child {
    margin-bottom: 0;
  }

}





/* Size variants.
   ========================================================================== */

.o-box--flush {
  padding: 0;
}

.o-box--tiny {
  padding: sp(tiny);
}

.o-box--small {
  padding: sp(small);
}

.o-box--large {
  padding: sp(large);
}

.o-box--huge {
  padding: sp(huge);
}
