<div class="c-site-header u-relative">

	{# The site navigation for mobile with a hamberger button. #}
	<div class="c-site-navigation-wrapper u-hidden@w960">
		{% include 'components/components.site-navigation.twig' %}
	</div>

	<div class="o-wrapper u-padding-top u-padding-bottom">

		<div class="c-site-header__inner">

			<div class="c-site-header__logo">
				{% include "components/components.site-logo.twig" %}
			</div>

			<div class="c-site-header__menu u-margin-top-small">
				{% include 'components/components.site-menu.twig' with { 'extra_classes': 'is-hidden-on-mobile' } %}
			</div>

			<div class="c-site-header__right"></div>
		</div>
	</div>
</div>
