{% block footer %}

	<footer class="c-site-footer">
		{# footer menu #}
		<div class="o-wrapper u-margin-vertical">
			<nav class="c-site-navigation c-site-navigation--footer u-hidden@w960 u-margin-vertical" id="footer-nav">
				{% include 'components/components.site-menu.twig' %}
			</nav>
		</div>

		{# legal menu and `design by a dozen eggs` #}
		<div class="o-wrapper-full">
			<div class="c-site-footer__content u-padding-bottom">
				<div class="c-site-footer__legal">
					<div class="u-margin-right u-margin-bottom-tiny">&copy; {{site.name}} {{"now"|date('Y')}}</div>
					{% for item in legal_menu.get_items %}
						<div class="u-margin-bottom-tiny {% if not loop.last %}u-margin-right{% endif %}">
							<a href="{{item.get_link}}" class="c-site-footer__link">{{item.title}}</a>
						</div>
					{% endfor %}
				</div>
				<div class="c-site-footer__adozeneggs u-margin-top u-margin-top-none@w600 u-margin-bottom-tiny">
					<a href="https://www.adozeneggs.co.uk" class="c-site-footer__link">design by a dozen eggs</a>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}
