{% if options.show_cookie_banner %}
	{% set banner = options.cookie_banner %}

	<div class="c-cookie-consent js-cookie-consent" style="display: none;">
		<div class="o-content-wrapper">
			<div class="c-cookie-consent__layout u-padding-vertical-tiny u-padding-horizontal">
				<div class="c-cookie-consent__main">
					{{ banner.banner_text }}
				</div>
				<div class="c-cookie-consent__dismiss u-padding-left">
					{% if banner.find_out_more_link %}
						<a href="{{ banner.find_out_more_link }}" class="c-cookie-consent__link">{{ banner.find_out_more_link_text }}</a>
					{% endif %}
					<button class="c-cookie-consent__link js-cookie-consent-dismiss">{{ banner.dismiss_button_text }}</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}
