/* ==========================================================================
   SCOPES
   ========================================================================== */


/* stylelint-disable scss/partial-no-import */

@import "scopes.content";

/* stylelint-enable scss/partial-no-import */


@if (sockman-config(env) != editor) {

  .s-content {
    @include sockman-scope-content;
  }

}
@else {

  .editor-styles-wrapper.editor-styles-wrapper {
    @include sockman-scope-content;
  }
}
