@mixin sockman-scope-content {

  p,
  li {
    @include sockman-type-style("b2");
  }

  p,
  h2,
  h3,
  h4 {
    margin-bottom: sp();
  }

  * + h2 {
    margin-top: sp(xlarge);
  }

  * + h3 {
    margin-top: sp(large);
  }

  blockquote {
    margin-top: sp(large);
    margin-bottom: sp(large);

    p {
      color: color("grey");
      @include sockman-type-style("blockquote");
    }
  }

  q {
    @include sockman-type-style("h2");
    color: color("grey");
    margin-top: sp(large);
    margin-bottom: sp(large);
    display: block;

    @include mq($from: w960) {
      margin-left: calc(((1/8 * 100% + var(--gutter))) * -1 + var(--gutter));
      margin-right: calc(((1/8 * 100% + var(--gutter))) * -1 + var(--gutter));
    }
  }

}
